@import url("https://fonts.googleapis.com/css2?family=Poppins,Madini,Arial:wght@400;500;600;700&display=swap");
 
html {
scroll-behavior: smooth;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", "Arial","Madini One";
background-color: #ffccc43d;
}

a {
text-decoration: none;
}
.hero {
width: 100%;
height: 100vh;
align-items: center;
justify-content: center;
gap: 2.5rem;
margin: auto;
}
nav {
position: sticky;
top: 0;
left: 0;
z-index: 1;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1.5rem 3.5rem;
background-color: lightpink;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}


nav ul {
display: flex;
gap: 1.9rem;
background-color: lightpink;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.logo {
max-height: 60px;
}
nav ul li {
list-style: none;
font-size: 25px;
font-weight:700;
}
nav ul li a {
color: #1d1d24;
position: relative;
padding: 5px 0;
}
nav ul li a:hover {
color: #fd4766;
}
nav ul li a:after {
content: "";
position: absolute;
left: 0;
width: 0;
height: 3px;
background: #fd4766;
transition: 0.3s;
bottom: 0;
}
nav ul li a:hover:after {
width: 100%;
}

.burger-menu {
color: #191616;
font-size: 2rem;
border: 0;
background-color: transparent;
cursor: pointer;
display: none;
}
.btn {
color: #fff;
font-size: 16px;
text-transform: uppercase;
letter-spacing: 2px;
padding: 16px 40px;
border-radius: 500px;
display: inline-block;
font-weight: 500;
transition: all 0.4s ease-in-out;
background-size: 152% 100%;
background: #fd4766; 
border: 2px solid #fd479f;
margin-right: 70px;
}
.btn:hover {
background: transparent;
border-color: #fd4766;
color: #fd4766;
}
.row {
   flex-direction: column;
   } 
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: space-around;
      transition: transform 0.3s;
  }

.column {
    flex: 10%;
    max-width: 50%;
    padding: 20px;
  }

  .col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
#side {
flex: 30%;
padding: 20px;
float: right;
border-radius: 200px;
}
.main {
flex: 70%;
padding: 20px;
float: right;
} 
.content {
position: absolute;
top: auto;
left: 8%;
font-size: 18px;
}
.content .title {
top: auto;
color: #0a0a0a;
font-size: 16px;
text-transform: uppercase;
display: inline-block;
margin-bottom: 20px;
background: linear-gradient(
  120deg,
  #1c99fe 20.69%,
  #7644ff 50.19%,
  #fd4766 79.69%
);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.content h1 {
color: #1f1f25;
font-size: 40px;
font-weight: 900;
line-height: 70px;
text-transform: inherit;
width: 60%;
}
.content h1 span {
color: #fd4766;
}
.content p {
width: 55%;
color: #202020;
margin-top: 25px;
margin-bottom: 30px;
}
.skills {
max-width: 68.75rem;
margin: auto;
text-align: center;
margin-top: 2.5rem;
}

.skill-header {
margin-bottom: 1rem;
}

.skills-wrapper img {
padding: 1.25rem;
}
.skill-header {
  margin-bottom: 2rem;
}

.icon {
width: 11.875rem;
height: 11.25rem;
}

.projects {
padding: 32px 0;
margin-top: 2rem;
}

.project-img {
width: 65%;
height: 60%;
}

.projects-container {
display: flex;
align-items: center;
justify-content: center;
}
.projects-title {
text-align: center;
margin-bottom: 3rem;
}

.project-container {
text-align: center;
width: 350px;
padding: 1rem;
}
.project-container p {
padding: 0.4rem;
}

.project-title {
background-color: white;
margin-bottom: 1rem;
}

.project-details {
background-color: white;
margin-bottom: 2rem;
}

.project-card {
background-color: white;
border-radius: 11px;
box-shadow: 0 3px 10px 3px;
padding: 20px;
margin: 10px;
transition: transform 0.5s;
}
.project-card:hover {
  transform: translate(-10px);
}
.contact {
margin-top: 4rem;
}

.contact h2 {
text-align: center;
margin-bottom: 4rem;
}

.contact-form-container {
max-width: 40.75rem;
margin: 0 auto;
padding: 0.938rem;
border-radius: 5px;
box-shadow: 0 3px 10px 3px;
}
.contact-form-container label {
line-height: 2.7em;
font-weight: 200;
color: grey;
}

.contact-form-container textarea {
min-height: 6.25rem;
font-size: 14px;
}

.contact-form-container .input-field {
width: 100%;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 5px;
border: none;
border: 2px outset;
font-size: 0.875rem;
outline: none;
background-color: #fff;
}
.input-field::placeholder {
padding: 0.5rem;
color: grey;
}
.submit-btn {
width: 100%;
padding: 10px;
margin: 10px 0;
background-color: #fff;
border: 2px solid;
border-radius: 5px;
font-size: 1rem;
font-weight: 200;
transition: transform 0.5s;
}
.submit-btn:hover {
background-color: lightgrey;
border: 2px solid;
cursor: pointer;
}
#main-footer {
 text-align: center;
}
#social-bar{
    text-decoration: none;
    width: 100%;
    display: inline-block;
    text-align: center;
 }

.social-bar a {
 text-decoration: none;
 margin-right: 3em;
}



@media only screen and (max-width: 868px) {

.main {
 flex-direction: column;
 text-align: center;
 }
nav {
    padding: 1.5rem 1rem;
  }
nav ul {
  display: flex;
  gap: 1.9rem;
}

.logo {
max-width: 9.75rem;
margin: auto;
text-align: center;
}

.title {
 text-align: center;
 }
 nav ul {
  position: fixed;
  flex-direction: column;
  top: 86px;
  left: 10%;
  width: 80%;
  text-align: center;
  transform: translateX(120%);
  transition: transform 0.5s ease-in;
}

nav ul.show {
  transform: translateX(0);
}

nav ul li {
  margin: 8px;
}

.burger-menu {
  display: block;
  cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 7px;
    justify-content: space-around;
      transition: transform 0.5s;
  }
.content {
  position: static;
    text-align: center;
  margin-top: 5rem;
  margin-left: 97px;
    font-size: 19px;
}

.content h1 {
  font-size: 30px;
  text-align: center;
}
.content p {
  font-size: 17px;
}
.btn  content-download {
  display:flex;
 text-align: center;
 margin-right: 90px;
 }

.content img {
    height: 37.5rem;
  width: 35rem;
  }

.icon {
  width: 5.875rem;
  height: 5.25rem;
}
 .projects-container {
  flex-direction: column;
}

.project-container {
  width: 20.875rem;
}
 .contact-form-container {
  max-width: 23.75rem;
}
}

@media screen and (max-width: 420px) {
.hero {
  margin-top: -4rem;
  flex-direction: column;
  gap: 0;
}


.content img {
  height: 37.5rem;
  width: 30rem;
  margin-left: 90px;
}
.btn {
 margin: 65px;
 text-align: center;
 }
.logo {
  margin-top: 25px;
  max-height: 80px;
}

.project-container {
  width: 17.875rem;
}

.contact-form-container {
  max-width: 17.75rem;
}
} 



